<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title name="author" discription = "Fyle Full Stack Chalange">
        <!-- Banks   -->
    </title>

    <!-- <link src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

    <!-- for triangle icon -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
</head>


<body>

    <!-- for triangle icon
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    
    <!-- for check box -->
    <script src="dist/jquery.simple-checkbox-table.min.js"></script>
    
    <link rel="stylesheet" href="../views/index.css">
    

    <!-- container for header on main page -->
    <div class="container  jumbotron" style="margin-top: 0.1em; margin-left: 18%; margin-left: 18%; text-align: center; ">

        <div class="flex-container">

            <div class="flex-child magenta">
                <div class="container flex-container">
                    <div class="col-sm-4">
                        <!-- <i class="fas fa-university" style="font-size: 900%; color: rgb(36, 177, 177);"></i> -->
                    </div>

                    <div class="col-sm-2" style="margin: 8%;">
                        <!-- <h1>Banks</h1> -->
                    </div>
                </div>
            </div>
            
            
            <!-- forms for selecting options -->
            <div class="flex-child">
                <form >
                    <div class="flex-container" style="margin-bottom: 2%;">
                        <div class="flex-child green" style="width: 20%;">

                            <!-- Options for city -->
                            <div class="select">
                                <select class="selected_city" name="selected_city" id="selected_city" onchange="getUpdate()">
                                    <option value="0" selected="selected">Select City</option>
                                    <option value="1">Bangalore</option>
                                    <option value="2">Jaipur</option>
                                    <option value="3">Delhi</option>
                                    <option value="4">Mumbai</option>
                                    <option value="5">Kolkata</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex-child green" style="width: 20%;    ">

                            <!-- Options for limit -->
                            <div class="select">
                                <select class="selected_limit" name="selected_limit" id="selected_limit" onchange="getUpdate()">
                                    <option value="0" selected="selected">Select Limit</option>
                                    <option value="25" >25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="3000">>200</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex-child green" style="width: 20%;">
                            <!-- Options for page_limit -->
                            <div class="select">
                                <select class="selected_page_limit" name="selected_page_limit" id="selected_page_limit" onchange="getUpdate()">
                                    <option value="5" selected="selected">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    
                    
                    
                    <div class="flex-child green" style="padding: 2em; margin-right: 2em;">

                        <!-- Form for search filter -->
                        <div class="form-group">
                        <input type="text" name="myInput" id="myInput" class="form-control form-control-sm" value="" placeholder="Search" aria-describedby="helpId">
                        </div>
                    </div>

                </form>

                <!-- <div class="flex-child" style="text-align: center;">
                    <button class="btn btn-sm btn-primary" id="AddFavorite" style="visibility: hidden;" onclick="addFav($(this))">Add Favorite</button>
                </div> -->
                
            
            </div>
            
        </div>

    </div>