<%- include('../partials/header'); -%>

<div class="container">
        <!-- Table to show thr banksData -->
        <div id="banks">
            <table class="table table-hover table-sortable " id ="page_table" >
                
            <!-- put a good divider line  -->
            </table>    
        </div>
</div>

<div class="container">
        <!-- nav bar for pagination -->
        <nav id="page-nav" style="text-align: center;">
            <ul class="pagination justify-content-center pagination">

            </ul>
        </nav>
</div>



<script type="text/javascript" src="../script.js"></script>



<%- include('../partials/footer'); -%>



