
/* header styling */
h1 {
    color: green;
}

/* pagination position styling */
.pagination_section {
    position: absolute;
    top: 500px;
    right: 230px;
}

/* pagination styling */
.pagination_section a {
    color: black;
    padding: 10px 18px;
    text-decoration: none;
}

/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #031F3B;
    color: white;
}

/* pagination hover effect on active*/
a:nth-child(5) {
    background-color: green;
    color: white;
}
    
a:nth-child(1) {
    font-weight: bold;
}
    
a:nth-child(7) {
    font-weight: bold;
}
    
.content {
    margin: 50px;
    padding: 15px;
    width: 800px;
    height: 200px;
    border: 2px solid black;
}

