<%- include('../partials/header'); -%>

<!-- Table to show thr banksData -->
<div id="banks" style=" width: 66%; margin-top: 2%; margin-left: 15%; margin-left: 15%; position: relative; ">
    <table class="table table-hover" id ="page_table"  >
    
    <!-- put a good divider line  -->
    </table>    
</div>

<!-- nav bar for pagination -->
<nav id="page-nav" style="text-align: center;">
    <ul class="pagination justify-content-center">

    </ul>
</nav>


<script type="text/javascript" src="../views/script.js"></script>
<%- include('../partials/footer'); -%>



