<%- include('../partials/header'); -%>

<!-- Table to show thr banksData -->
<div id="banks" style=" width: 66%; margin-top: 2%; margin-left: 15%; margin-left: 15%; position: relative; ">
    <table class="table table-hover table-sortable " id ="page_table"  >
    
    <!-- put a good divider line  -->
    </table>    
</div>

<!-- nav bar for pagination -->
<nav id="page-nav" style="text-align: center;">
    <ul class="pagination justify-content-center pagination">

    </ul>
</nav>


<script type="text/javascript" src="../views/script.js"></script>



<!-- <div class="container">
    <h2 class="page-header">Bootstrap Table with Sort Indicators</h2>

    <table class="table table-bordered table-sortable">
        <caption>
            <code>table.table-sortable</code>
        </caption>
        <thead>
            <tr>
                <th class="asc">#</th>
                <th class="desc">Field 1</th>
                <th>Field 2</th>
                <th>Field 3</th>
            </tr>
        </thead>
        <tbody>
            <tr><th scope="row">1</th><td>Data 1</td><td>John</td><td>2020-01-24</td></tr>
            <tr><th scope="row">2</th><td>Data 2</td><td>Andrew</td><td>2020-01-22</td></tr>
            <tr><th scope="row">3</th><td>Data 3</td><td >Laura</td><td>2020-01-20</td></tr>
        </tbody>
    </table>
</div> -->




<%- include('../partials/footer'); -%>



